workflows/30-RAG_AI_Agent/Couse30- RAG Chatbot.json
{
  "name": "Couse30- RAG Chatbot",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1552,
        -224
      ],
      "id": "235ff593-35ef-4715-94fd-a96d97e18dcb",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ls2HBefCQ6YcoAv4",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nrag",
          "mode": "list",
          "cachedResultName": "n8nrag"
        },
        "embeddingBatchSize": 2,
        "options": {
          "pineconeNamespace": "Apple"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -1264,
        -208
      ],
      "id": "5c591197-6f5a-4474-ba93-cbbfacfb56c5",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "uq3UvnWUb0vAfFOV",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1344,
        16
      ],
      "id": "7bae9553-84e3-43ea-b915-f44aefe346cf",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "56TIAw6z3IQ5guvb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Apple_Report",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -1056,
        -16
      ],
      "id": "63dbc117-d3fc-45a3-aa1b-de2cc1cd52cd",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "# Knowledge Base\n",
        "height": 572,
        "width": 1260
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2096,
        -368
      ],
      "id": "80716899-3831-47e3-bf0f-4746b3ebd49a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# RAG Chatbot\n",
        "height": 940,
        "width": 920
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -816,
        -368
      ],
      "id": "7a2f3919-55c5-47e1-94d3-7754cf020afb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are an AI assistant specialized in analyzing Apple’s quarterly financial reports. Your main goal is to answer questions accurately and precisely using the vector database, which contains relevant Q1 reports.\n\nProvide only information that comes directly from these reports or verified data. If the requested information is missing or unclear, explicitly state that there is insufficient data.\n\nKeep responses concise and to the point. Include specific numbers and facts whenever possible, and clearly indicate whether the information is sourced from Q1 or Q2.\n\nDeliver quick, reliable insights into Apple’s quarterly financials without adding unnecessary details."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -544,
        -224
      ],
      "id": "863d7523-5a1c-4c51-bafa-00cd7a63aa20",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -752,
        -16
      ],
      "id": "c064cb0e-60fb-420d-9484-5d8973c8c270",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "56TIAw6z3IQ5guvb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Returns documents related to Apple Q1 report, including financials, outlook, margins, and all key details from the earnings reports.",
        "topK": "=10"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -352,
        64
      ],
      "id": "280cf921-7978-4b6f-a7f7-ded37ae20b84",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -784,
        -224
      ],
      "id": "1ffb766a-d368-499d-ad72-7bad35e250ff",
      "name": "When chat message received",
      "webhookId": "eb40ea76-f06a-488f-ba25-0bd900606f59"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nrag",
          "mode": "list",
          "cachedResultName": "n8nrag"
        },
        "options": {
          "pineconeNamespace": "Apple"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -560,
        208
      ],
      "id": "b9f4fad2-d66a-44fc-ace5-b3d41438d48c",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "AIqMeAiQkXh7r8mg",
          "name": "PineconeApi account 4"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "13aIW31qxgfPeoKJqyHAUi6nS3V5fJEZp",
          "mode": "list",
          "cachedResultName": "Apple",
          "cachedResultUrl": "https://drive.google.com/drive/folders/13aIW31qxgfPeoKJqyHAUi6nS3V5fJEZp"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2000,
        -224
      ],
      "id": "3f399db0-a632-45d6-b283-f323d667cc06",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ls2HBefCQ6YcoAv4",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -720,
        320
      ],
      "id": "fe17e1f1-a02b-4c46-bcc3-d0a6ef2d5abe",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "56TIAw6z3IQ5guvb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -112,
        208
      ],
      "id": "aae215e8-c64e-407d-8058-ec98ad8a9e1d",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "56TIAw6z3IQ5guvb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2016,
        16
      ],
      "id": "faef61ef-461d-4e35-8fc8-892096a439bc",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "13aIW31qxgfPeoKJqyHAUi6nS3V5fJEZp",
            "mode": "list",
            "cachedResultName": "Apple",
            "cachedResultUrl": "https://drive.google.com/drive/folders/13aIW31qxgfPeoKJqyHAUi6nS3V5fJEZp"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1808,
        16
      ],
      "id": "9527263a-a758-4beb-989e-4de57e2db737",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ls2HBefCQ6YcoAv4",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1600,
        16
      ],
      "id": "241991a3-ad24-48fc-b826-b220b1306bbb",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ls2HBefCQ6YcoAv4",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -560,
        0
      ],
      "id": "073d20dc-03d7-4632-bbb9-19ac580aaa31",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "6689f5b6-ccbf-4392-a1b8-66811109097e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0dfb2a3a29a3903eb7a664ab5ed9b401dfba5ace85737be04806afb662f24be2"
  },
  "id": "RuwyUDAx9FsQ30zI",
  "tags": []
}